@use 'mixins' as *;

.game-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  padding: clamp(0rem, 2vh, 2rem);
  height: 5rem;
  position: sticky;
  top: 0;
  z-index: 1000;

  @include mobile {
    padding: 1rem auto;
  }

  .header-left {
    display: flex;
    gap: 13px;
    align-items: center;
    .logo {
      height: clamp(44px, 10vw, 60px);
      width: auto;
    }

    .create-game {
      font-weight: 600;
      font-size: clamp(14px, 3vw, 21px);
    }
  }

  .header-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    .game-title {
      font-size: clamp(16px, 4vw, 26px);
      font-weight: 700;
      margin: 0;
      text-transform: capitalize;
      text-align: center;
    }
  }

  .header-right {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: clamp(8px, 2vw, 16px);

    app-invite-players,
    app-scoring-mode-selector {
      @include mobile {
        display: contents;
      }
    }

    .avatar-container {
      position: relative;
      display: flex;
      align-items: center;
    }

    .user-avatar {
      width: clamp(32px, 8vw, 36px);
      height: clamp(32px, 8vw, 36px);
      background-color: #bdbdff;
      color: #330072;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-size: 14px;
      flex-shrink: 0;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
    }
  }
}
