.card-box {
  min-height: 82px;
  max-height: 110px;
  width: 56px;
  gap: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  .card-container {
    border-radius: 7px;
    border: #bb65ff solid 1px;
    width: 35px;
    height: 60px;
    box-sizing: border-box;

    &.card--spectator {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 56px;
      height: 56px;
      background-color: #bdbdff;
      color: #330072;
      border-radius: 50%;
      font-size: 21px;
      font-weight: bold;
      border: none;
      box-sizing: border-box;
    }

    &.card--empty {
      font-size: 16px;
      box-shadow: 0 0 5px #6429cd99;
      box-sizing: border-box;
    }

    &.card--revealed {
      font-weight: 600px;
      font-size: 16px;
      border: #bb65ff solid 1px;
      box-shadow: 0 0 5px #6429cd99;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
    }

    &.card--hidden {
      box-shadow: 0 0 4px #bdbdff99;
      display: flex;
      background-color: #bb65ff;
      box-sizing: border-box;
    }
  }
  .player-name {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    max-width: 160px;
    overflow: hidden;
    text-transform: capitalize;
  }
}
