@use 'mixins' as *;

.card-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: 601px) {
    max-width: 62px;
    max-height: 84px;
    gap: 2px;
  }

  @include mobile {
    max-width: 54px;
    max-height: 74px;
    gap: 2px;
  }

  .card-container {
    border: #bb65ff solid 1px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    width: 35px;
    border-radius: 7px;

    @media (min-width: 601px) {
      min-height: 60px;
    }

    @include mobile {
      width: 29px;
      height: 50px;
    }

    &.card--spectator {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #bdbdff;
      color: #330072;
      border-radius: 50%;
      font-weight: bold;
      border: none;
      width: 56px;
      height: 56px;
      font-size: 21px;

      @include mobile {
        width: 36px;
        height: 36px;
        font-size: 14px;
      }
    }

    &.card--empty {
      font-size: 16px;
      box-shadow: 0 0 5px #6429cd99;
      background-color: rgba(157, 157, 161, 0.2);
    }

    &.card--revealed {
      font-weight: 600;
      font-size: 16px;
      box-shadow: 0 0 5px #6429cd99;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        box-shadow: 0 0 12px #844fe0b2;
      }
    }

    &.card--hidden {
      box-shadow: 0 0 4px #bdbdff99;
      background-color: #bb65ff;
    }
  }

  .player-name {
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-weight: 400;

    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (min-width: 601px) {
      font-size: 14px;
      max-width: 62px;
    }

    @include mobile {
      font-size: 12px;
      max-width: 54px;
    }
  }
}
