.card-deck {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  width: 100%;
  &__title, &__subtitle {
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
  }

  &__title{
    padding: 12px;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 17px;
    max-width: 900px;

    .card-deck__button {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
    }
  }
}

:host ::ng-deep {
  .card-box {
    width: auto !important;
    min-height: auto !important;
  }

  .card-container {
    width: 48px !important;
    height: 80px !important;
    font-weight: 600;
    font-family: Poppins, serif;

    &.card--revealed {
      color: white;
    }

    &.card--selected {
      border: #e4a4ff 1px solid !important;
      background-color: #e4a4ff !important;
      box-shadow: 0 0 4px #e2aafae3, inset 0 0 2px #e4a4ffd1;
      transform: translateY(-6px);
      font-size: 16px;
      color: #330072;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.4s;
    }
  }
}

.neon-pulse {
  animation: neonGlow 1s ease-in-out infinite;
  color: #e4a4ff !important;
}

@keyframes neonGlow {
  0%, 100% { text-shadow: 0 0 2px #3b2c46db, 0 0 4px #371a4ae2; }
  50% { text-shadow: 0 0 3px #a68fafd0, 0 0 5px #9f66bade, 0 0 8px #9542bbe2; }
}
