@use 'mixins' as *;

.card-deck {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 23px;
  width: 100%;

  @media (max-width: 1400px) {
    gap: 2px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    min-height: 100px;
    font-size: 1.3rem;
    font-weight: 600;

    @media (min-width: 1024px) and (max-width: 1279px) {
      flex-direction: row;
      gap: 20px;
      min-height: 50px;
      font-size: 1rem;
    }

    @include mobile {
      min-height: 90px;
      font-size: 16px;
      gap: 4px;
    }
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 17px;
    max-width: 900px;

    @include mobile {
      flex-wrap: nowrap; 
      justify-content: flex-start; 
      overflow-x: auto; 
      width: 100vw; 
      padding: 10px 20px 10px; 
      -webkit-overflow-scrolling: touch; 

      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    .card-deck__button {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
    }
  }
}

:host ::ng-deep {
  .card-box {
    width: auto !important;
    min-height: auto !important;
  }

  .card-container {
    width: 48px !important;
    height: 80px !important;
    font-weight: 600;
    @media (max-width: 1279px) {
      width: 33px !important;
      height: 55px !important;
    }

    &.card--revealed {
      color: white;
    }

    &.card--selected {
      border: #e4a4ff 1px solid !important;
      background-color: #e4a4ff !important;
      box-shadow: 0 0 4px #e2aafae3, inset 0 0 2px #e4a4ffd1;
      transform: translateY(-6px);
      font-size: 16px;
      color: #330072;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.4s;
    }
  }
}

.neon-pulse {
  animation: neonGlow 1s ease-in-out infinite;
  color: #e4a4ff !important;
}

@keyframes neonGlow {
  0%,
  100% {
    text-shadow: 0 0 2px #3b2c46db, 0 0 4px #371a4ae2;
  }
  50% {
    text-shadow: 0 0 3px #a68fafd0, 0 0 5px #9f66bade, 0 0 8px #9542bbe2;
  }
}
