@if (shouldDisplay()) {
<section class="card-deck">
  <div class="card-deck__title">
    <h3 class="card-deck__title__main" [class.neon-pulse]="isAnimating()">
      Modo: {{ gameService.currentModeName() }}
    </h3>
    <h4 class="card-deck__title__sub">Elige una carta 👇</h4>
  </div>

  <div class="card-deck__grid">
    @for (cardValue of availableCards(); track cardValue) {
    <button type="button" class="card-deck__button" (click)="selectCard(cardValue)">
      <app-card
        [value]="cardValue.toString()"
        [isSelected]="currentUser()?.selectedCard === cardValue.toString()"
        [isRevealed]="true"
      >
      </app-card>
    </button>
    } @empty {
    <p class="card-deck__empty">No hay cartas registradas.</p>
    }
  </div>
</section>
}
