@use 'mixins' as *;
.game-board-container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  align-items: center;
}

.header-space {
  height: 5rem;
  @include mobile {
    height: 4rem;
  }

  @include desktop {
    height: 7rem;
  }
}

.deck-container {
  overflow-x: auto;
  padding-bottom: clamp(2rem, 2.5rem, 3rem);
  &::-webkit-scrollbar {
    height: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
  }
}

.loading-full-view {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
