@use 'mixins' as *;

.table-m {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px #6429cd solid;
  box-shadow: 0 0 2px #bdbdff33;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;

  @include desktop {
    width: 603px;
    height: 345px;
    border-radius: 276px;
  }

  @include tablet {
    width: clamp(420px, 45vw, 525px);
    height: clamp(240px, 20vh, 300px);
    border-radius: 150px;
  }

  @include mobile {
    width: clamp(172px, 30vw, 212px);
    height: clamp(296px, 45vh, 371px);
    border-radius: 106px;
  }

  .table-s {
    border: 2px #bdbdff99 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px #bdbdff99;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: inherit;

    @include desktop {
      width: 555px;
      height: 298px;
    }

    @include tablet {
      width: clamp(386px, 42vw, 483px);
      height: clamp(208px, 18vh, 260px);

    }

    @include mobile {
      width: clamp(152px, 27vw, 184px);
      height: clamp(273px, 42vh, 342px);
    }

    .table-xs {
      border: 1px #6429cd solid;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #1f0d3f99;
      box-shadow: 0 0 3px rgba(255, 255, 255, 0.6);
      box-sizing: border-box;
      border-radius: inherit;

      @include desktop {
        width: 521px;
        height: 272px;
      }

      @include tablet {
        width: clamp(363px, 40vw, 454px);
        height: clamp(190px, 16.5vh, 238px);
      }

      @include mobile {
        width: clamp(136px, 25vw, 168px);
        height: clamp(256px, 40vh, 321px);
      }
    }
  }
}
