.table-m {
  width: 603px;
  height: 345px;
  border: 2px #6429cd solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 276px;
  box-shadow: 0 0 2px #bdbdff33;
  box-sizing: border-box;

  .table-s {
    width: 555px;
    height: 298px;
    border: 2px #bdbdff99 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 276px;
    box-shadow: 0 0 3px #bdbdff99;
    background-color: transparent;
    box-sizing: border-box;

    .table-xs {
      width: 521px;
      height: 272px;
      border: 1px #6429cd solid;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 276px;
      box-shadow: 0 0 3px rgba(255, 255, 255, 0.6);
      background-color: #1f0d3f99;
      box-sizing: border-box;
    }
  }
}
