:host {
  display: block;
  width: 100%;
  height: 100%;
}

.background-layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: #1a0b2e5d;
}

.table-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deck-wrapper {
  position: absolute;
  bottom: 3rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 16px;
}

/* Capa de Vidrio (Glassmorphism) */
.glass-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a090c40;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
