.app-button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 50px; 
  min-height: 40px;
  color: #330072;
  background-color: #ffffff;
  width: 159px; 

  &:active:not([disabled]) {
    background-color: #d5b9f0;
  }

  &[disabled] {
    cursor: not-allowed;
    background-color: rgba(156, 163, 175, 0.3);
    color: #7E7291;
    
  }
}
